<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#manage-subs">Manage
  Subscriptions</button>
<div id="manage-subs" class="collapse">
  <h1>Subscriptions</h1>

  <div class="alert alert-success alert-dismissible fade show" *ngIf="customerSub.subscription_message">
    {{ customerSub.subscription_message }}
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>

  <div *ngIf="!customerSub.subscription_id">
    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#create-sub">Create
      Subscription</button>
    <div id="create-sub" class="collapse">
      <app-subscription-update></app-subscription-update>
    </div>
    <br>
    <hr>
  </div>

  <div *ngIf="customerSub.subscription_id">
    <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#show-subs" (click)="showSubs()">
      Current Subscriptions
    </button>
    <div id="show-subs" class="collapse">
      <app-subscriptions-list></app-subscriptions-list>
    </div>
  </div>

</div>
