<div class="row justify-content-center">
  <div class="col-4">
    <h1>Home Page</h1>
    <br/>
    <div *ngIf="!isAuthenticated">
      <a [routerLink]="['/login']" class="btn btn-primary">Log in</a>
      <a [routerLink]="['/register']" class="btn btn-danger ml-3">Register</a>
    </div>
    <div *ngIf="isAuthenticated">
    <a [routerLink]="['/profile']" class="btn btn-success">My Profile</a>
    <a [routerLink]="['*']" class="btn btn-warning ml-3" (click)="logout()">Log out</a>
    </div>
  </div>
</div>
