<div class="row">
  <div class="col-md-4">
    <h1>Register</h1>
    <hr><br>
    <form (ngSubmit)="onSubmit(registerForm.value)" [formGroup]="registerForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" required class="form-control" id="name" formControlName="name"
          placeholder="enter your name">
        <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
          <div *ngIf="name.errors.required">
            Name is required.
          </div>
          <div *ngIf="name.errors.minlength">
            Name must be at least 4 characters long.
          </div>
          <div *ngIf="name.errors.maxlength">
            Name must not be longer then 40 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" required class="form-control" id="username" formControlName="username"
          placeholder="enter your username">
        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
          <div *ngIf="username.errors.required">
            Username is required.
          </div>
          <div *ngIf="username.errors.minlength">
            Username must be at least 3 characters long.
          </div>
          <div *ngIf="username.errors.maxlength">
            Username must not be longer then 15 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input name="email" type="email" required class="form-control" id="email" formControlName="email"
          placeholder="enter your email">
        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
          <div *ngIf="email.errors.maxlength">
            Email must not be longer then 40 characters long.
          </div>
          <div *ngIf="email.errors.email">
            Must be an email.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" required class="form-control" id="password" formControlName="password"
          placeholder="enter a password">
        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
          <div *ngIf="password.errors.required">
            Password is required.
          </div>
          <div *ngIf="password.errors.hasCapitalLetter">
            Password must start with a capital letter.
          </div>
          <div *ngIf="password.errors.hasNumber">
            Password must contain a number.
          </div>
          <div *ngIf="password.errors.hasSpecial">
            Password must contain a special character.
          </div>
          <div *ngIf="password.errors.minlength">
            Password must be at least 6 characters long.
          </div>
          <div *ngIf="password.errors.maxlength">
            Password must not be longer then 20 characters long.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPsw">Repeat password</label>
        <input type="password" required class="form-control" id="confirmPsw" formControlName="confirmPsw"
          placeholder="repeat the password">
        <div *ngIf="confirmPsw.invalid && (confirmPsw.dirty || confirmPsw.touched)" class="alert alert-danger">
          <div *ngIf="confirmPsw.errors.required">
            Password is required.
          </div>
          <div *ngIf="confirmPsw.errors.minlength">
            Password must be at least 6 characters long.
          </div>
          <div *ngIf="confirmPsw.errors.maxlength">
            Password must not be longer then 20 characters long.
          </div>
        </div>
        <div *ngIf="(confirmPsw.dirty || confirmPsw.touched) && registerForm.hasError('mismatch') && !confirmPsw.errors" class="alert alert-danger">
          Passwords don't match.
        </div>
      </div>
      <div class="form-group">
        <input type="checkbox" formControlName="terms"> I agree with new <a routerLink="/terms_of_service" target="new">Terms of Service</a> of this site.
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid || !registerForm.get('terms').value">Submit</button>
      <a [routerLink]="['/']" class="btn btn-success ml-3">Cancel</a>
    </form>
    <p>
      <span>Already have an account?&nbsp;</span>
      <a [routerLink]="['/login']">Log in!</a>
    </p>
    <div class="alert alert-warning" *ngIf="errorMessage">
      Failed to register!
      <br />
      {{ errorMessage }}
    </div>

  </div>
</div>
