<div class="container">
<div class="row justify-content-center">
  <div class="col-md-6">
    <h1 class="text-center">Log in</h1>
    <hr><br>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input [(ngModel)]="user.email" name="email" type="email" required class="form-control" id="email"
          placeholder="enter your email">
      </div>
      <div class="form-group">
        <div class="row justify-content-between">
          <label for="password" class="col">Password </label>
          <a class="col-auto" [routerLink]="['/reset']">Forgot password ?</a>
        </div>

        <input [(ngModel)]="user.password" name="password" type="password" required class="form-control" id="password"
          placeholder="enter a password">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="user.email == undefined || user.password == undefined">Submit</button>
      <a [routerLink]="['/']" class="btn btn-success ml-3">Cancel</a>
    </form>
    <p>
      <span>Don't have an account?&nbsp;</span>
      <a [routerLink]="['/register']">Sign up!</a>
    </p>
    <div class="alert alert-warning" *ngIf="errorMessage">
      Failed to login!
      <br />
      {{ errorMessage }}
    </div>
  </div>
</div>
</div>
