<br>
<br>
<table border="1" *ngIf="subs">
  <thead>
    <tr>
      <th>Name</th>
      <th>Started</th>
      <th>Ends</th>
      <th>Interval</th>
      <th>Price</th>
      <th>Status</th>
      <th>Cancel</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let sub of subs">
      <td>{{ sub.name }}</td>
      <td>{{ sub.starts | date: 'short' }}</td>
      <td>{{ sub.ends | date: 'short' }}</td>
      <td>{{ sub.period }}</td>
      <td>{{ sub.price }} €</td>
      <td>{{ sub.renews ? 'Active' : 'Canceled' }}</td>
      <td><button class="btn btn-danger" (click)="cancelSub(sub.subscriptionId)" *ngIf="sub.renews">X</button></td>
    </tr>
  </tbody>
</table>
