<br>
<br>
<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Started</th>
      <th>Ends</th>
      <td>Interval</td>
      <td>Price</td>
      <td>Status</td>
      <th>Cancel</th>
    </tr>
  </thead>
  <tbody *ngIf="subList.length > 0">
    <tr *ngFor="let sub of subList">
      <td>{{ customerSub.subscription_name }}</td>
      <td>{{ sub.currentPeriodStart | millisToDate }}</td>
      <td>{{ sub.currentPeriodEnd | millisToDate }}</td>
      <td>{{ sub.items.data[0].plan.interval }}</td>
      <td>{{ sub.items.data[0].plan.amount / 100 }} {{ sub.items.data[0].plan.currency }}</td>
      <td>{{ sub.items.cancelAt == null ? 'Active' : 'Canceled' }}</td>
      <td><button class="btn btn-danger" (click)="cancelSub(sub.id)">X</button></td>
    </tr>
  </tbody>
</table>
